{% extends 'adminlte/login.html' %}
{% load bootstrap4 %}
{% block title %}Reset enviado{% endblock title%}

{% block logo_text %}<b>E</b>-diaristas{% endblock logo_text %}

{% block login_form %}
<div class="card card-primary">
    <div class="card-header">
        <div class="card-title">Reset enviado</div>
    </div>
    <div class="card-body">
        <div class="col-12 text-center">
            <p>Sua senha foi alterada com sucesso. Clique <a href="{% url 'login' %}">aqui</a> para fazer o login.</p>
        </div>
    </div>
</div>
{% endblock login_form %}