{% extends 'adminlte/login.html' %}
{% load bootstrap4 %}
{% block title %}Reset enviado{% endblock title%}

{% block logo_text %}<b>E</b>-diaristas{% endblock logo_text %}

{% block login_form %}
<div class="card card-primary">
    <div class="card-header">
        <div class="card-title">Reset enviado</div>
    </div>
    <div class="card-body">
        <div class="col-12">
            <p>Um email foi enviado com as instruções para resetar sua senha.</p>
        </div>
        <div class="col-12 text-left">
            <hr>
            <a href="{% url 'login' %}" class="btn btn-primary">
                <i class="fas fa-arrow-left"></i> Voltar
            </a>
        </div>
    </div>
</div>
{% endblock login_form %}