{% extends 'adminlte/login.html' %}
{% load bootstrap4 %}
{% block title %}Resetar senha{% endblock title%}

{% block logo_text %}<b>E</b>-diaristas{% endblock logo_text %}

{% block login_form %}
{% if validLink %}
<div class="card card-primary">
    <div class="card-header">
        <div class="card-title">Criar nova senha</div>
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="row">
                <div class="col-12">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                </div>
            </div>
            <div class="col-12 text-right">
                <hr>
                <a href="{% url 'login' %}" class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i> Voltar
                </a>
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i> Salvar
                </button>
            </div>
        </form>
    </div>
</div>
{% endif %}
{% endblock login_form %}