{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Atualizar senha{% endblock title%}

{% block content %}
<div class="card card-primary">
    <div class="card-header">
        <div class="card-title">Atualizar senha</div>
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="row">
                {% csrf_token %}
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                        {% bootstrap_field form.old_password %}
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        {% bootstrap_field form.new_password1 %}
                    </div>
                </div>

                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        {% bootstrap_field form.new_password2 %}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-12 text-right">
                <hr>
                <a href="{% url 'list_service' %}" class="btn btn-primary">
                    <i class="fas fa-arrow-left"></i> Voltar
                </a>
                <button type="submit" class="btn btn-success">
                    <i class="fas fa-save"></i> Atualizar
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}